<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>{{.Name}}</h1>
            </div>
            {{ range .Apps}}
            <div id="{{.ID}}" class="application panel panel-success">
                <div class="app-name panel-heading">{{.Name}}</div>
                {{ if not .URL }}

                {{else}}
                    <div class="app-url panel-body"><a href="{{.URL}}">App</a></div>
                {{end}}
            </div>
            {{end}}
        </div>

        <script>
            $( document ).ready(function() {
                console.log( "ready!" );

                $.ajax({
                    dataType: "json",
                    url: "/status",
                    success: function (result) {
                        for (var i=0; i < result.Statuses.length; i++) {
                            var app = result.Statuses[i];
                            var id = "#" + app.ID;
                            $( id ).append( "<div class=\"panel-body\">PID: " + app.PID + "</div>");
                            $(id).show();
                        }
                    },
                    error: function (result) {
                        console.log(result);
                    }
                });
            });
        </script>


    </body>
</html>